.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.loginTittle {
  font-size: 40px;
}

.loginForm > label {
  margin: 10px 0px;
}
.loginInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px;
}
.loginInput:focus {
  outline: none;
}

.loginButton {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  background-color: lightcoral;
  border: none;
  cursor: pointer;
  color: white;
}

.loginRegesterButton {
  right: 50px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  margin-top: -470px;
}
