nav {
  background-color: black;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.nav-item {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 100px;
  text-align: center;
}

nav .active {
  color: yellow;
}
