.regester {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.regesterForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.regesterTittle {
  font-size: 40px;
}

.regesterForm > label {
  margin: 10px 0px;
}
.regesterInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px;
}
.regesterInput:focus {
  outline: none;
}

.regesterButton {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  background-color: lightcoral;
  border: none;
  cursor: pointer;
  color: white;
}

.regesterLoginButton {
  right: 50px;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  margin-top: -470px;
}
